body{
    padding:0;
    margin:0;

}
.container{

    position:relative;
    margin-top:100px;
}

.section img{
    display :block;
    width:100%;
    padding-top:0%;


    }

nav{
    position:fixed;
    z-index:10;
    left:0;
    right:0;top:0;
    background-color:blueviolet;
    text-decoration:none;
}
nav .logo {
    float:left;
    width:40%;
    height:100%;
   
    font-size: larger;
    align-items: center;
    padding-top: 25px;
}
nav .links{
    float:right;
    padding:0;
    margin:0;
    width:60%;
    height:100%;
    display: flex;
   
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;
}
nav .links  a{
    display:block;
    padding:1rem;
    font-size:16px;
    color:#fff;
    text-decoration: none;
}
nav .links  a:hover{
    color: aqua;
}
#nav-toggle{
    position:relative;
   
}

nav .icon-burger{
    display: none;
position:absolute;
right:5%;
top:10%;
transform: translateY(-50%);
}
nav .icon-burger .line {
width:20px;
height:2px;
background-color:white;
word-spacing: 0ch;

}
@media screen  and (max-width: 768px) {
    nav .logo{
        float:none;
        width:auto;
        justify-content: center;
    }
     nav .links{
        float:none;
        pointer-events: fixed;
        z-index:9;
        left:0;
        right:0;
        top:400px;
        bottom:0;
        width: auto;
        overflow: hidden;
        flex-direction: column;
        background-color: black;
        transition: all .5s ease-in-out;

     }
     nav .icon-burger{
        display: block;
     }
     nav :checked ~.links{
        bottom: 0;
    
     }
     nav:checked~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg);
     }
    }
 .training-section h1{
    text-align: center;
   padding-top:0;


 }

 .container1{
    width:1170px;
    margin:auto;
    border:1px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

 }
 .training-items{
    
    flex-basis:23%;
    text-align: center;
    box-shadow: 0px 0px 10px 3px lightskyblue;
    margin: 10px 0px;
 }
 .training-items:hover{
   background-color:  blueviolet;
 }
 .training-items:hover h3,.training-items:hover p{
color: #fff;
 }
 .training-items h3{
    padding: 10px 0px;
 }
 .training-items p{
    font-size: 14px;
 }

 .training-items button{
    background: blue;
    padding: 10px 25px;
    border: none;
    color: black;
    margin: 10px 0px;
    border-radius: 10px;
 }
 .training-items button:hover{
    color: #fff;
 }
 .services-section h1{
    text-align: center;
 }
 .grid{
    margin:80px;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:30px;
    align-items: center;
 }
 
 @media  only screen and (min-width:200px) and (max-width:767px){
    .container1{
        width: 100%;
        flex-direction: column;
    } 
    .training-items{
        margin: 10px;
    }
 }
    
 